<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title th:text="${appName}">ThymeLab</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css" rel="stylesheet">
    <link href="/css/tabler-icons.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- JavaScript files -->
    <script defer src="/js/tabler.min.js"></script>
</head>
</html> 